<% einheiten_auswahl = Einheit.find(:all).map do |e| [e.name, e.id] end.sort %>
<h1>Messgr&ouml;&szlig;e bearbeiten</h1>



<%= render :partial => "haupt_form", :locals => {:knopf_text => "Speichern"} %>
