<p>
  <b>Quelle:</b>
  <%=h @diaque.quelle_id %>
</p>

<p>
  <b>Diagramm:</b>
  <%=h @diaque.diagramm_id %>
</p>


<%= link_to 'Edit', edit_diaque_path(@diaque) %> |
<%= link_to 'Back', diaquen_path %>
