<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="grafik_bereich">
  <!--%= @graph %-->
    <%= @chart.js_open_flash_chart_object("my_chart_js_1", "90%", 400) %>
    <br/><br/>
    <%= @chart.link_to_ofc_load("Normal", "my_chart_js_1") %> ||
    <%= @chart.link_to_remote_ofc_load("Links", "my_chart_js_1",  url_for({ :action => "links", :id => params[:id] })) %>
    <%= @chart.link_to_remote_ofc_load("Rechts", "my_chart_js_1",  url_for({ :action => "rechts", :id => params[:id] })) %>

</div>
