<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%  fields_for @diagramm do |f| %>
  <TABLE BGCOLOR="#EEEEEE" WIDTH="100%" Border="0" CELLPADDING=5 CELLSPACING=1><TR>
    <TD BGCOLOR="#FFFFF3" WIDTH="50%" Valign="top">
      <% @freie_quellen.each do |quelle| %>
      <%= link_to_remote quelle.name,  :url =>{ :action => "quelle_rein","id"=>@diagramm.id, "quelle_id"=>quelle.id}, :update => "_quellen_auswahl_listen",:html => {:style=>"color:#"+quelle.farbe } %>
      <BR>
      <% end %>
    </TD>
    <TD BGCOLOR="#FFFFF3" WIDTH="50%" Valign="top">
      <% @ausgewaehlte_diaquen.each do |diaque| %>
      <% f.fields_for :diaquen,  diaque do |diaque_f| %>
      <%= link_to_remote diaque_f.object.quelle.name,  :url =>{ :action => "quelle_raus","id"=>@diagramm.id, "quelle_id"=>diaque_f.object.quelle_id}, :update => "_quellen_auswahl_listen",:html => {:style=>"color:#"+diaque_f.object.quelle.farbe }%>
      <%= diaque_f.picky_color :farbe, :size => 6, :default => diaque_f.object.quelle.farbe %><br>
      <BR>
      <% end %>
      <% end %>
    </TD>
  </TR></TABLE>
<% end %>