<h1>Neues Diagramm</h1>

<%= render :partial => "quellen_selektor" %>

<%= link_to 'Zur&uuml;ck', diagramme_path %>

<TABLE WIDTH="40%" BORDER=0 CELLPADDING=5 CELLSPACING=0>
  <TR>
    <TD WIDTH="20%" ALIGN=CENTER>
    </TD>
  </TR>
</TABLE>

