
<%= javascript_include_tag :all %>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>

<%= render :partial => "grafik" %>
 
<p>
  <%=h @diagramm.beschreibung %>
</p>

<!--%= link_to "open", {}, :target => "_blank" %-->
<!--%= button_to_function 'Save', "window.blur();" %-->

<% if session[:expert_modus] %>
  <%= render :partial => "quellen_selektor" %>
<% end %>