<%= render :partial => "layouts/standard_kopf" %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
<BR><BR>
  <hr noshade=1 size="1">
<%= render :partial => "layouts/standard_fuss" %>
</body>
</html>
