<%= render :partial => "layouts/standard_kopf" %>
<%= render :partial => "layouts/standard_fuss" %><BR>
  <hr noshade=1 size="1">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>


</body>
</html>
